.idea
target
checkouts
*.log
*.iml
resources/public/js/compiled
.planck_cache
.lumo_cache
node_modules
resources/public/styles.css
opts.clj
notes-history.clj
firebase
firebase.json
.firebaserc
pom.xml*
src/npm
old
opts.clj