.idea
target
checkouts
*.log
*.iml
resources/public/js/compiled
.planck_cache
node_modules
checkouts
resources/public/styles.css
.firebaserc
opts.clj
notes-history.clj
target
firebase
firebase.json
closure-experiment
src/npm
old
opts.clj