.idea
target
checkouts
*.log
*.iml
example/resources/public/js/compiled
example/resources/public/styles.css
example/firebase.json
example/node_modules
example/.firebaserc
.planck_cache
.lumo_cache
.lein-repl-history
pom.xml*